/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
/*This is some further normalization and base styles. */
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Responsive images base, put your images in a wrapper
img {
    display: block;
    width: 100%;
    height: auto;
}

/*Here's where you would put your Google Fonts import*/
@import url('https://fonts.googleapis.com/css?family=Bungee|Lato:100,100i,300,300i,400,400i,700,700i,900,900i');



/* BOX MODEL SETTING FOR ALL ELEMENTS BY DEFAULT
THIS IS BETTER THAN DEFAULT, YOU SHOULD ALWAYS USE THIS:
*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* END BOX MODEL SETTINGS */



body {
  font-size: 16px; /* Base Size */
  /*Setting the base font family*/
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

/*Here's a sample media query for you. This one is for desktop styles.*/
/*@media only screen and (min-width: 960px) {

}*/
header {
  background-image: "joshua-ness-109309.jpg";
  width: 100%;
  height: 1600px;
}





/* ==========================================================================
   Helper classes
   ========================================================================== */

/* Use this clearfix class on the parent of floated elements to clear the float! */

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;


}

.content-band {
  width: 100%;
  min-height: 200px;
  /* temporary: */
  background-color: white;
}

.live-area {
  max-width: 1060px;
  margin: 0 auto;
  background color: white;
}

.grid-3 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

}

.grid-3 .grid-item {
  flex: 0 1 calc(33.3333% - 4em);
  /*flex: 1 1 100%;*/
  margin: 1em 2em;
  /*background-color: orange;*/
}



.foodtruck-1 {
  background-image: image("jenis truck.jpg") no-repeat center center;
  background-size: cover;
}

.foodtruck-content {
  height: 300px;
  /*position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;*/
}



.columns-12 {
  width: 100%;
  min-height: 50px;



}

.columns-6 {
  width: 50%;
  float: left;
  min-height: 50px;
  background-color: #eb5256;
  min-height: 391px;
}

.columns-4 {
  width: 33.33333%;
  float: left;
  min-height: 50px;
  background color: white;
}

.columns-9 {
  width: 75%;
  float: left;
  min-height: 50px;
  background color: white;
}

.columns-3 {
  width: 25%;
  float: left;
  min-height: 50px;
  background-color: white;
   }

.columns-8 {
  width: 66.6666%;
  float: left;
  background-color: #eb5256;
  min-height: 50px;
}


h4, h3, h2, p{
  text-align: center

}

h1{
font: "Bungee";
}

p {
  color: black;
  line-height: 150%;
}


.header {
  image-orientation: top center;
  font-size: 23px;
  background-color: #eb5256;
}

.start-title {
  color: #EAC435;
}

.do-title {
  color: #03CEA4;
}

.who-title {
  color: #345995;

}

.where-title {
  color: #CA1551;

}

.music-title{
  color: #FB4D3D;
}
